@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">4Tan</h1>
    <br>
    <br>
</div>

<form method="POST">

    <input class="form-control form-control-lg" type="text" placeholder="Your Nick">
    <br>
    <br>
    <input class="form-control" type="text" placeholder="Title">
    <br>
    <br>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Talk about your topic"></textarea>
    <br>
    <br>
    <button type="button" class="btn btn-primary">Send topic</button>
</form>

<div style="display: inline-block">
    @{
        for (int i = 0; i < @Model.TopicsTitles.Count; i++)
        {
            <br>
            <br>
            <a style="font-size: 18px" href="" onclick="alert(1)">Antom said: @Model.TopicsTitles[i]</a>
            <br>
            <br>
            <a style="font-size: 18px" href="" onclick="alert(1)">Antom said: @Model.TopicsTitles[i]</a>
            <br>
            <br>
            <a style="font-size: 18px" href="" onclick="alert(1)">Antom said: @Model.TopicsTitles[i]</a>
            <br>
            <br>
            <a style="font-size: 18px" href="" onclick="alert(1)">Antom said: @Model.TopicsTitles[i]</a>
            <br>
            <br>
            <a style="font-size: 18px" href="" onclick="alert(1)">Antom said: @Model.TopicsTitles[i]</a>
            <br>
            <br>
            <a style="font-size: 18px" href="" onclick="alert(1)">Antom said: @Model.TopicsTitles[i]</a>
            <br>
            <br>
            <a style="font-size: 18px" href="" onclick="alert(1)">Antom said: @Model.TopicsTitles[i]</a>
            <br>
            <br>
            <a style="font-size: 18px" href="" onclick="alert(1)">Antom said: @Model.TopicsTitles[i]</a>
            <br>
            <br>
            <a style="font-size: 18px" href="" onclick="alert(1)">Antom said: @Model.TopicsTitles[i]</a>
            <br>
            <br>
            <a style="font-size: 18px" href="" onclick="alert(1)">Antom said: @Model.TopicsTitles[i]</a>
            <br>
            <br>
            <a style="font-size: 18px" href="" onclick="alert(1)">Antom said: @Model.TopicsTitles[i]</a>
            <br>
            <br>
            <a style="font-size: 18px" href="" onclick="alert(1)">Antom said: @Model.TopicsTitles[i]</a>
            <br>
            <br>
            <a style="font-size: 18px" href="" onclick="alert(1)">Antom said: @Model.TopicsTitles[i]</a>
            <br>
            <br>
            <a style="font-size: 18px" href="" onclick="alert(1)">Antom said: @Model.TopicsTitles[i]</a>
            <br>
            <br>
 
        }
    }
</div>